{{page-title "AddProduct"}}
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Nouveau produit">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Valider</button>
  </div>
</div>
{{outlet}}