{{page-title "Tds"}}
<div class="container">

  <nav class="navbar navbar-dark bg-primary">
    <LinkTo @route="contacts" class="navbar-brand">Contacts</LinkTo>
    <LinkTo @route="categories" class="navbar-brand">Categories</LinkTo>
  </nav><br>

{{outlet}}
</div>